@import "compass";

header {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    z-index: 1;
    li {
      color: #EEEEEE;
      cursor: pointer;
    }
  }
}


.page {
  .box {
    visibility: hidden;

    position: absolute;
    left: 0;
    top: 0;

    /* 全体のフォント指定 */
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

    /* 色指定・・・要変更 */
    width: 100vw;
    height: 100vh;
    min-height: 100vh;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    /* 左右中央寄せ */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /* 上下中央寄せ */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    /* 遠近法を利用のため */
    -moz-perspective: 2000;
    -webkit-perspective: 2000;
    -ms-perspective: 2000;
    perspective: 2000;
    .wrapper {
      .box2 {
        visibility: hidden;

        border: solid 0.1px;

        background-color: navy;

        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;

        align-items: center;

        .box3 {
          visibility: hidden;

          background-color: white;

          width: 75vw;
          height: 75vh;
          min-height: 75vh;

          border-radius: 0 30% 0 30%;

          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;

          /* 左右中央寄せ */
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          /* 上下中央寄せ */
          -webkit-box-align: center;
          -ms-flex-align: center;

          align-items: center;

          .top-content {
            .top-name {
              font-size: 75px;
              font-weight: bold;
            }
            .top-ex {
              text-align: center;
            }
            ul {
              list-style: none;
              li {
                float: left;
                width: 25%;
                padding-top: 3em;
                color: skyblue;
                cursor: pointer;
                &:hover {
                  color: navy;
                }
              }
            }
            .sns_icon {
              ul {
                text-align: center;
                padding: 8em 0 0 0;
                .icon {
                  font-size: 50px;
                }
                a {
                  color: skyblue;
                  margin: 10px;
                  &:hover {
                    color: navy;
                  }
                }
              }
            }
          }
        }
        .skill-box {
          @include flex-direction(column);
          width: 100%;
          display: -webkit-flex;
          display: flex;

          @include flex-direction(row);

          justify-content: center;

          >div {
            width: 25%;
            text-align: center;

            position: relative;
            margin: 1em 1em;
            padding: 0.5em 1em;
            border: solid 3px #95ccff;
            border-radius: 8px;
            span {
              position: absolute;
              top: -13px;
              left: 10px;
              padding: 0 9px;
              line-height: 1;
              font-size: 19px;
              background: #FFF;
              color: #95ccff;
              font-weight: bold;
            }
            .program {
              display: inline-block;
              text-align: center;
              p {
                text-align: center;
                margin: 0;
                padding: 0;
              }
              img {
                vertical-align: top;
              }
            }
          }
        }
      }
    }

  }
}

.page {
  .box {
    .wrapper {
      .active {
        visibility: visible;
        z-index: 2;
        .active {
          visibility: visible;
          z-index: 2;
        }
      }
    }
  }
}

@media (min-width: 1025px) {
  header {
    padding: 0;
    margin: 0;
    ul {
      font-size: 15px;
      top: 45%;
      position: fixed;
      padding-left: 10px;
    }
  }
}
